* text=auto eol=lf
*.png binary

/.github export-ignore
/.github/** export-ignore
/.githooks export-ignore
/.githooks/** export-ignore
/scripts export-ignore
/scripts/** export-ignore
/tests export-ignore
/tests/** export-ignore
/package.json export-ignore
/package-lock.json export-ignore
